files:      
  /etc/pki/tls/certs/nn-staging_inventor_city_chain.crt:
    mode: "000644"
    owner: root
    group: root
    content: |
      source: 'https://site-ssl-certificates.s3.ca-central-1.amazonaws.com/nn-staging_inventor_city_chain.crt'
 

  /etc/pki/tls/certs/nn-staging_inventor_city_PK.key:
    mode: "000644"
    owner: root
    group: root
    content: |
      source: 'https://site-ssl-certificates.s3.ca-central-1.amazonaws.com/nn-staging_inventor_city_PK.key'
 
container_commands: 
  restart_nginx:
    command: "service nginx restart" 
  01-build:
    command: "npm run build"