Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["site-ssl-certificates"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role" 

files:      
  /etc/pki/tls/certs/nn-staging_inventor_city_chain.crt:
    authentication: "S3Auth"
    mode: "000644"
    owner: root
    group: root
    content: |
      source: https://site-ssl-certificates.s3.ca-central-1.amazonaws.com/nn-staging_inventor_city_chain.crt



  /etc/pki/tls/certs/nn-staging_inventor_city_PK.key:
    authentication: "S3Auth"
    mode: "000644"
    owner: root
    group: root
    content: |
      source: https://site-ssl-certificates.s3.ca-central-1.amazonaws.com/nn-staging_inventor_city_PK.key
 
container_commands: 
  restart_nginx:
    command: "service nginx restart" 
