
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["site-ssl-certificates"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
              
files:
  # Private key
  "/etc/pki/tls/certs/nn_inventor_city.key":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://site-ssl-certificates.s3.ca-central-1.amazonaws.com/nn_inventor_city.key 

  # Chain Crt
  "/etc/pki/tls/certs/nn_inventor_city_chain.crt":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://site-ssl-certificates.s3.ca-central-1.amazonaws.com/nn_inventor_city_chain.crt 

  # Private key
  "/etc/pki/tls/certs/nn-staging_inventor_city_PK.key":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://site-ssl-certificates.s3.ca-central-1.amazonaws.com/nn-staging_inventor_city_PK.key 

  # Chain Crt
  "/etc/pki/tls/certs/nn-staging_inventor_city_chain.crt":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://site-ssl-certificates.s3.ca-central-1.amazonaws.com/nn-staging_inventor_city_chain.crt 

container_commands: 
  restart_nginx:
    command: "service nginx restart" 
