$paddingTop: 20rem;

a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6;
}

.Article {
  //   margin: 20rem 13% 0;
  //   margin: 0 13%;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  //   @media screen and (min-width: 1120px) {
  //     margin: 20rem 13% 0;
  //   }

  &::-webkit-scrollbar {
    display: none;
  }
}

.Article-Nav {
  position: sticky;
  align-self: flex-start;
  width: 30%;
  padding-top: 35rem;
  //   padding-right: 2rem;
  top: 0;

  background-color: aquamarine;

  ul {
    margin-left: 40%;
    background-color: burlywood;
  }

  li {
    list-style: none;
    padding-bottom: 2rem;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.Article-Main {
  //   width: 65%;
  width: 70%;
  padding-top: 20rem;
  padding-left: 3rem;
  padding-right: 15rem;

  background-color: darksalmon;

  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
