$topHeight: 35rem;

.Article {
  //   margin: 20rem 13% 0;
  //   margin: 0 13%;
  display: flex;
  //   overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  //   @media screen and (min-width: 1120px) {
  //     margin: 20rem 13% 0;
  //   }

  &::-webkit-scrollbar {
    display: none;
  }
}

.Article-Nav {
  position: sticky;
  align-self: flex-start;
  width: 30%;
  padding-top: $topHeight;
  top: 0;

  background-color: aquamarine;

  ul {
    margin-left: 40%;
    margin-top: 0;
    background-color: burlywood;
  }

  li {
    list-style: none;
    padding-bottom: 2rem;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.Article-Main {
  width: 70%;
  height: fit-content;
  padding-left: 3rem;
  padding-right: 15rem;
  padding-bottom: 15rem;

  background-color: darksalmon;

  .heading {
    display: flex;
    height: $topHeight;

    h1 {
      align-self: flex-end;
      font-size: 6rem;
    }
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 7rem;
  }

  img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
  }
}
