.Button {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 40px;
  font-weight: 700;
  font-size: 3rem;
  font-weight: 700;
  font-size: 1.75rem;
  cursor: pointer;
}
