@import '../variables';

.Connections {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-line {
    pointer-events: all;
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
    transition: stroke 300ms;
  }

  &-hover {
    cursor: none;
    opacity: 0.3;
  }

  &-active {
    stroke: $active;
  }

  &-cut {
    display: none;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 4rem;
    height: auto;
  }
}
