$boxBorderRadius: 25px;
$boxPadding: 15px 35px 35px;
$boxTitleWeight: 800;
$boxTitleSize: 2rem;
$boxDescriptionSize: 1.5rem;

$sectionMargin: 200px 0 125px;
$sectionTitleWeight: 700;
$sectionTitleSize: 6rem;

// $buttonBackground; ;

.MainSection {
  margin: 0 13%;
}

.columns {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1120px) {
    flex-direction: row;
  }

  .left,
  .right {
    width: 100%;

    @media screen and (min-width: 1120px) {
      width: 50%;
    }
  }
}

.Beginning {
  // margin: $sectionMargin;
  background: #2e4046;
  border-radius: $boxBorderRadius;
  min-height: 560px;
  padding: 55px 65px 65px;

  .left {
    color: #fff;

    h2 {
      font-weight: $sectionTitleWeight;
      font-size: $sectionTitleSize;
    }

    h4 {
      font-weight: $boxTitleWeight;
      font-size: $boxTitleSize;
    }

    p {
      font-size: $boxDescriptionSize;
    }
  }
}

.Articles {
  h2 {
    font-weight: $sectionTitleWeight;
    font-size: $sectionTitleSize;
    text-align: center;
  }

  &-contents {
    width: 100%;

    div {
      border-radius: $boxBorderRadius;
    }

    h4 {
      font-weight: $boxTitleWeight;
      font-size: $boxTitleSize;
    }

    p {
      font-size: $boxDescriptionSize;
    }
  }

  &-indigenous {
    background: #b3edd2;
    // padding: 55px 45px 45px;
    padding: 0 45px;
    align-items: center;

    .left {
      img {
        width: 100%;
      }
    }
  }

  &-columns {
    .Button {
      width: 225px;
    }

    &-weird {
      background: linear-gradient(180deg, #dbeaf7 0%, #9bd6f3 100%);
      padding: $boxPadding;

      @media screen and (min-width: 1120px) {
        margin: 25px 7px 25px 0;
        align-items: center;
      }

      .left {
        width: 60%;
      }

      .right {
        width: 40%;
        img {
          width: 130%;
        }
      }
    }

    &-prime {
      background: #2e4046;
      padding: $boxPadding;
      color: #fff;

      @media screen and (min-width: 1120px) {
        margin: 25px 0 25px 7px;
        align-items: center;
      }

      .left {
        width: 60%;
      }

      .right {
        width: 40%;
        img {
          width: 100%;
        }
      }
    }
  }

  &-non-computer {
    background: linear-gradient(192.31deg, #2c8ab1 4.27%, #2f3334 128.12%);
    width: 100%;
    padding: $boxPadding;
    color: #fff;
  }
}
