$borderRadius: 25px;
$boxPadding: 15px 35px 35px;
$boxTitleWeight: 800;
$boxTitleSize: 2rem;
$boxDescriptionSize: 1.6rem;
$boxDescriptionLineHeight: 1.6;

$sectionMargin: 125px 0;
$sectionTitleWeight: 700;
$sectionTitleSize: 6rem;
$sectionTitleSmallSize: 3rem;

.LandingPage {
  background-image: url(../assets/background-left.png),
    url(../assets/background-right.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}

.MainSection {
  margin: 0 13%;
}

.columns {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1120px) {
    flex-direction: row;
  }

  .left,
  .right {
    width: 100%;

    @media screen and (min-width: 1120px) {
      width: 50%;
    }
  }
}

.tile {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: $borderRadius;
  text-align: center;
  width: 90%;
  margin: 20px 0;

  @media screen and (min-width: 1120px) {
    width: 45%;
  }

  img {
    height: 45%;
  }

  div {
    padding: 0 10px 5px;
  }

  h4 {
    font-weight: $boxTitleWeight;
    font-size: $boxTitleSize;
  }

  p {
    font-size: $boxDescriptionSize;
    line-height: $boxDescriptionLineHeight;
    margin-bottom: 3rem;
  }

  position: relative;

  .Button {
    color: #fff;
    background: #2e4046;
    width: 80%;
    position: absolute;
    bottom: 2%;
    transform: translateX(-50%);
  }
}

.fun-part {
  width: 90%;
  position: relative;

  @media screen and (min-width: 1120px) {
    width: 24%;
    // height: 600px;
  }

  img {
    width: 100%;
  }

  p {
    margin-bottom: 12rem;
  }
}

.Hero {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  background-image: url(../assets/hero-background.png);
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;

  &-animation {
    height: 100vh;
    width: 100%;

    .line {
      height: 100vh;
      width: 100%;
      background-image: url(../assets/hero-line.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 1;
      position: absolute;
      animation-name: lineAnimation;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    @keyframes lineAnimation {
      0% {
        opacity: 0;
        transform: scale(1.2);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    .bright-line {
      height: 100vh;
      width: 100%;
      background-image: url(../assets/hero-bright-line.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 2;
      position: absolute;
      animation-name: brightLineAnimation;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-fill-mode: backwards;
    }

    @keyframes brightLineAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .particle {
      height: 100vh;
      width: 100%;
      background-image: url(../assets/hero-particle.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 3;
      position: absolute;
      animation-name: particleAnimation;
      animation-delay: 2s;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-fill-mode: backwards;
    }

    @keyframes particleAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  h1 {
    color: #fff !important;
    font-weight: 800;
    font-size: 5rem;
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    z-index: 4;
    animation-name: titleAnimation;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;

    @media screen and (min-width: 1120px) {
      font-size: 7rem;
    }

    @keyframes titleAnimation {
      0% {
        top: 100%;
        opacity: 0;
      }
      100% {
        top: 45%;
        transform: translateY(-45%);
        opacity: 1;
      }
    }
  }

  &-scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 83%;
    text-align: center;
    animation: arrowmove 1s ease-in-out infinite;
    cursor: pointer;
  }

  &-arrow {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    position: relative;
    width: 0.5em;
    height: 3.5em;
    background: currentColor;
  }

  &-arrow::before {
    content: "";
    width: 2em;
    height: 2em;
    border: 0.5em solid currentColor;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50%;
    bottom: -0.5em;
    box-sizing: border-box;
  }

  @keyframes arrowmove {
    0% {
      top: 83%;
    }
    50% {
      top: 85%;
    }
    100% {
      top: 83%;
    }
  }

  p {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 89%;
    text-align: center;
  }
}

.Beginning {
  margin: $sectionMargin;
  background: #2e4046;
  border-radius: $borderRadius;
  padding: 55px 35px;

  @media screen and (min-width: 1120px) {
    padding: 55px 65px 65px;
  }

  .left {
    color: #fff;

    h2 {
      font-weight: $sectionTitleWeight;
      font-size: $sectionTitleSmallSize;

      @media screen and (min-width: 1120px) {
        font-size: $sectionTitleSize;
      }
    }

    h4 {
      font-weight: $boxTitleWeight;
      font-size: $boxTitleSize;
    }

    p {
      font-size: $boxDescriptionSize;
      line-height: $boxDescriptionLineHeight;
    }
  }

  .right {
    position: relative;
    img {
      width: 50%;
      position: absolute;
      bottom: 50%;
      left: 50%;

      @media screen and (min-width: 1120px) {
        width: 100%;
        bottom: 0;
        left: 0;
        top: 0;
      }
    }
  }
}

.Articles {
  margin: $sectionMargin;
  h2 {
    font-weight: $sectionTitleWeight;
    font-size: $sectionTitleSize;
    text-align: center;
  }

  &-contents {
    width: 100%;

    div {
      border-radius: $borderRadius;
    }

    h4 {
      font-weight: $boxTitleWeight;
      font-size: $boxTitleSize;
    }

    p {
      font-size: $boxDescriptionSize;
      line-height: $boxDescriptionLineHeight;
    }
  }

  &-indigenous {
    background: #b3edd2;
    padding: 55px 35px 45px;
    align-items: center;

    @media screen and (min-width: 1120px) {
      padding: 0 45px;
    }

    .left {
      text-align: center;
      img {
        width: 60%;

        @media screen and (min-width: 1120px) {
          width: 100%;
        }
      }
    }
  }

  &-columns {
    &-weird {
      background: linear-gradient(180deg, #dbeaf7 0%, #9bd6f3 100%);
      padding: $boxPadding;
      margin: 50px 0 25px;

      @media screen and (min-width: 1120px) {
        margin: 25px 7px 25px 0;
        align-items: center;
      }

      .left {
        @media screen and (min-width: 1120px) {
          width: 60%;
        }
      }

      .right {
        display: none;

        @media screen and (min-width: 1120px) {
          display: block;
          width: 40%;
        }

        img {
          width: 130%;
        }
      }
    }

    &-prime {
      background: #2e4046;
      padding: $boxPadding;
      color: #fff;
      margin: 25px 0 50px;

      @media screen and (min-width: 1120px) {
        margin: 25px 0 25px 7px;
        align-items: center;
      }

      .left {
        @media screen and (min-width: 1120px) {
          width: 60%;
        }
      }

      .right {
        display: none;

        @media screen and (min-width: 1120px) {
          display: block;
          width: 40%;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  &-non-computer {
    background: linear-gradient(192.31deg, #2c8ab1 4.27%, #2f3334 128.12%);
    width: 100%;
    padding: $boxPadding;
    color: #fff;

    .right {
      display: none;

      @media screen and (min-width: 1120px) {
        display: block;
        width: 40%;
      }
    }
  }
}

.Educators {
  margin: $sectionMargin;

  .left {
    @media screen and (min-width: 1120px) {
      width: 40%;
    }

    h2 {
      font-weight: $sectionTitleWeight;
      font-size: $sectionTitleSize;
    }

    p {
      font-size: $boxDescriptionSize;
      line-height: $boxDescriptionLineHeight;
    }
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;

    @media screen and (min-width: 1120px) {
      width: 60%;
    }
  }
}

.FunPart {
  margin: $sectionMargin;
  h2 {
    font-weight: $sectionTitleWeight;
    font-size: $sectionTitleSize;
    text-align: center;
  }

  .columns {
    @media screen and (min-width: 1120px) {
      justify-content: space-between;
    }
  }
}

.AboutApp {
  margin: $sectionMargin;
  h2 {
    font-weight: $sectionTitleWeight;
    font-size: $sectionTitleSize;
  }
  p {
    font-size: $boxDescriptionSize;
    line-height: $boxDescriptionLineHeight;
  }

  h3 {
    font-weight: 700;
    font-size: 1.6rem;
  }

  .word-wrap {
    word-wrap: break-word;
  }

  .Instructions-sctFour {
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1120px) {
      flex-direction: row;
      align-items: baseline;
    }
  }
}
