@import '../variables';

.Layer {
  background: #e6eaec;
  border-right: 2px solid $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $spacer 0;
  padding: $spacer / 2;
  min-height: calc(100% - #{$spacer * 2});

  &:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  &:last-child {
    border-right: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &-neurons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &-label {
    background: $highlight;
    border-radius: $spacer;
    color: $light-gray;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: $spacer;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
  }

  &-trash {
    background: $light-gray;
    border-radius: $spacer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    padding: 1.5rem;
    transition: transform 300ms;
    width: $spacer;
    height: $spacer;

    img {
      opacity: 0.25;
      width: auto;
      height: 100%;
    }
  }

  &-trash-hover {

    .Neuron-dragging {
      opacity: 0.5;
    }

    .Layer-trash {
      transform: scale(1.2);
    }
  }
}
