@import '../variables';

.Nav {

  &-toggle {
    background: none;
    border: none;
    border-radius: 4.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
    width: 4.6rem;
    height: 4.6rem;

    &:focus {
      background: $light-gray;
      outline: none;
    }

    img {
      width: 3rem;
      height: 1.2rem;
    }
  }

  &-menu {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 1rem 0;
    position: fixed;
    min-width: 30rem;
    z-index: 10;

    a {
      color: #000;
      display: block;
      font-size: 1.6rem;
      line-height: 1;
      padding: 1rem 2rem;
      text-decoration: none;

      &:hover {
        background: $light-gray;
      }

      &[disabled] {
        background: transparent !important;
        cursor: default;
        opacity: 0.2;
      }
    }
  }

  &-open::before {
    background: rgba(0, 0, 0, 0.4);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-closed &-menu {
    display: none;
  }

  hr {
    background: rgba(0, 0, 0, 0.15);
    border: 0;
    display: block;
    margin: 1rem 0;
    width: 100%;
    height: 1px;
  }
}
