@import '../variables';

.Network {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacer $spacer * 3;
  min-width: min-content;
  height: min-content;
  min-height: 100%;

  &-layers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
  }

  &-button {
    background: transparent;
    border: 1px $dark-gray solid;
    border-radius: 0.5rem;
    color: $dark-gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
    width: $spacer * 4;
    height: $spacer;
  }
}
