@import '../variables';

.Output {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  position: absolute;
  right: -10rem - $spacer;
  width: 10rem;
  height: $spacer;

  &-check {
    background-color: $light-gray;
    border-radius: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0.9rem;
    transition: background-color 300ms;
    width: 3.6rem;
    height: 3.6rem;

    img {
      display: none;
      position: relative;
      top: 0.1rem;
      width: 2rem;
      height: auto;
    }
  }

  &-connector {
    background-color: #000;
    position: absolute;
    left: -$spacer - 1rem;
    width: $spacer + 2rem;
    height: 0.2rem;
  }

  &-active &-check {
    background-color: $active;

    img {
      display: block;
    }
  }

  &-active &-connector {
    background-color: $active;
  }
}

.TrainedNetwork {

  .Output {
    right: -8rem - $spacer;
    width: 8rem;
    height: $spacer / 2;

    &-check {
      width: 2rem;
      height: 2rem;

      img {
        top: 0.05rem;
        width: 1rem;
      }
    }
  }
}
