@import '../variables';

.Prompt {

  &-modal {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 2.3rem 3rem 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10000;
  }

  &-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  p {
    margin: 0 0 0.75rem
  }

  input {
    background: $light-gray;
    border: 0;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 1.6rem;
    margin: 0;
    padding: 1rem;
    width: 30rem;
    height: 4rem;

    &:focus {
      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      outline: none;
    }
  }

  button {
    background: $highlight;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    min-width: 6rem;
    height: 4rem;
  }

  &::before {
    background: rgba(0, 0, 0, 0.4);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
  }
}
