@import '../variables';

.SharePrompt {
	&-modal {
		background: #fff;
		border-radius: 0.5rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		font-size: 1.6rem;
		margin: 0 auto;
		padding: 2.3rem 3rem 3rem;
		position: fixed;
		top: 50%;
		left: 50%;
		text-align: center;
		transform: translateX(-50%) translateY(-50%);
		z-index: 10000;
		display: flex;
	}

	&-url {
		background: #f3f1ff;
		font-size: 3rem;
		font-weight: 900;
		line-height: 1;
		margin: 2rem 0 !important;
		padding: 2rem 10rem;
		text-align: center;
		white-space: nowrap;
		min-width: 30rem;
	}

	p {
		margin: 0;
	}

	&-copy {
		background: #f3f1ff;
		font-size: 3rem;
		font-weight: 900;
		line-height: 1;
		margin: 2rem 0 !important;
		text-align: center;
		white-space: nowrap;
		min-width: 18rem;
		border: 3px solid #d3cdf9;
		border-radius: 0 0.5rem 0.5rem 0;
		&:hover {
			cursor: pointer;
		}
		&:active {
			background-color: #d3cdf9;
		}
	}

	small {
		color: $dark-gray;
	}

	&::before {
		background: rgba(0, 0, 0, 0.4);
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10000;
	}
}
