@import '../variables';

.Stats {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-top: $spacer;
  width: 100%;

  &-container {
    padding: $spacer 0;
    width: 80%;
  }

  &-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacer;

    &-item {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: 40rem;

      h2 {
        flex-grow: 0;
        margin: 0;
      }

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 8rem;
        font-weight: 900;
        margin: 0;
        text-align: center;
      }
    }
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 900;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    td, th {
      border: 1px solid $dark-gray;
      font-size: 1.6rem;
      font-weight: normal;
      padding: 1rem;
      text-align: left;
    }

    th {
      background: #e6eaec;
    }

    & + h2 {
      margin-top: $spacer;
    }

    small {
      color: $dark-gray;
    }
  }

  &-reclassified {

    th:nth-child(1) {
      width: 40%;
    }

    th:nth-child(2) {
      width: 20%;
    }

    th:nth-child(3) {
      width: 40%;
    }
  }

  &-recipes {

    th:nth-child(1) {
      width: 20%;
    }

    th:nth-child(2) {
      width: 40%;
    }

    th:nth-child(3) {
      width: 20%;
    }

    th:nth-child(4) {
      width: 20%;
    }
  }
}
