@import '../variables';

.ToggleSwitch {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  position: absolute;
  left: -10rem - $spacer;
  width: 10rem;
  height: $spacer;

  &-well {
    background: $light-gray;
    border-radius: 2.6rem;
    position: relative;
    left: -0.9rem;
    transition: background-color 300ms;
    width: 5rem;
    height: 3rem;
  }

  &-switch {
    background-color: #fff;
    border-radius: 2.6rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0.3rem;
    left: 0.3rem;
    transition: left 300ms;
    width: 2.4rem;
    height: 2.4rem;
  }

  &-active &-well {
    background-color: $active;
  }

  &-active &-switch {
    left: 2.3rem;
  }

  &-connector {
    background-color: #000;
    position: absolute;
    right: -$spacer - 1rem;
    transition: background-color 300ms;
    width: $spacer + 2rem;
    height: 0.2rem;
  }

  &-active &-connector {
    background-color: $active;
  }
}

.TrainedNetwork {

  .ToggleSwitch {
    left: -8rem - $spacer;
    width: 8rem;
    height: $spacer / 2;

    &-well {
      left: -0.9rem;
      width: 3.4rem;
      height: 2rem;
    }

    &-switch {
      top: 0.2rem;
      left: 0.2rem;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .ToggleSwitch-active .ToggleSwitch-switch {
    left: 1.6rem;
  }
}
