@import '../variables';

.Weights {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .Neuron-terminal {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
}
