@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;700;900&display=swap');
@import 'variables';

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background: $light-gray;
	font-family: 'Mulish', sans-serif;
	-webkit-font-smoothing: antialiased;

	button {
		box-shadow: none !important;
		.glitchButton .glitchButtonElement {
			background-color: transparent !important;
		}
		&:hover {
			background-color: #cac8c8 !important;
		}
	}

	h1 {
		color: #000 !important;
	}
}
